* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#1abc9c, #3498db);
}

.container {
  position: relative;
  width: 700px;
  height: auto;
  overflow: hidden;
  border: 20px solid rgba(0, 0, 0, 0.5);
}

.img-container {
  display: flex;
  transition: 0.4s ease-in-out;
}

img {
  width: 100%;
}

button {
  position: absolute;
  padding: 10px 15px;
  font-size: 30px;
  border: none;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.left {
  top: 50%;
  left: 0%;
}
.right {
  top: 50%;
  right: 0%;
}
